ul {color: black;
	font-size:36;
	font-family: arial;}
body {color: navy;
	background-color: lightsteelblue;
	border-style: solid;
	border-width: .5rem;
	border-color: darkgrey;
	border-margin: .5rem;
}
li {font-size: 12px;
	font-family: sans-serif;}



